$blue-dark: #276F86;
$blue-light: #F8FFFF;

/* Empty. Add your own CSS if you like */
.card {
  margin: 0 auto;
  width: 95%;
}

.list {
  margin-bottom: 1%;

  &:first-child {
    margin-top: 1%;
  }

  &.item {
    padding: 0 1%;
  }
}

.menu-unal .item-content {
  background-color: #333;
  color: white;
}

.bar {
  &.bar-stable {
    background-color: #666666;

    .title {
      color: white;
    }
    .button {
      &.button-clear {
        color: white;
      }
    }
  }
}

.asignaturas {
  .card .row .col:first-child {
    font-weight: bold;
  }

  ol {
    font-weight:bolder;
    list-style-type: upper-roman;
    padding: inherit;
    padding-top: 5px;
    padding-bottom: 5px;

    li {
      span {
        font-weight: normal;
      }
    }
  }
}

.back {
  background-color: $bar-balanced-active-bg;
}

@mixin show-content() {
  opacity: 1;
  visibility: visible;
  position: relative;
}

@mixin hide-content() {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.flipper {
  overflow: hidden;
}

.flipper {
  perspective: 600px;
  -webkit-perspective: 600px;
	-moz-perspective: 600px;

  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  transform-origin: 100% center;
}

.front-card, .back-card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
	backface-visibility: hidden;

  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, heigth 0, visibility 0, opacity 0.3 linear;
}

.front-card {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  @include show-content();
}

.flipper.flip .front-card {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
  @include hide-content();
}

.back-card {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
  @include hide-content();
}

.flipper.flip .back-card {
  -webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
   transform: rotateY(0deg);
   @include show-content();
}

/* Info messages */

.info {
  position: relative;
  text-align: center;
}

.message {
  &.info {
    box-shadow: 0 0 0 1px #A9D5DE inset,0 0 0 0 transparent;
    background-color: $blue-light;
    color: $blue-dark;
    font-size: 1em;
    max-width: 700px;
    border-radius: 5px;
    padding: 2% 3%;
    margin: 15px 0 25px;
  }
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #222;
  padding: 7px 10px;
  max-width: 500px;
  width: 80%;
  color: #fff;
  z-index: 9999;
}

.tooltip-show {
  display: block;
}

.tooltip-arrow {
  position: absolute;
	width: 0;
	height: 0;
}

.tooltip-down .tooltip-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #222;
}

.tooltip-up .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #222;
}

.tooltip-right .tooltip-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #222;
}

.tooltip-left .tooltip-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #222;
}

.tooltip-left-badged .tooltip-arrow {
  right: -5px;
  top: 6%;
  margin-top: -3px;
  border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #222;
}

.tooltip-circle {
  $radius: 35px;
  width: $radius;
  height: $radius;
  background: $blue-dark;
  color: $blue-light;
  position: absolute;
  display: block;
  border-radius: 50%;
  vertical-align: middle;
  bottom: 50%;
  right: 3%;

  &:before {
    padding-top: 10px;
  }
}
