$blue-dark: #276F86;
$blue-light: #F8FFFF;

img {
  width: 100%;
}

.shadow {
  background: rgba(50,50,50,0.1);
  border: 0;
}

/* Empty. Add your own CSS if you like */
.card {
  margin: 0 auto;
  width: 95%;

  .footer {
    background-color: white;
    color: #009638;
    font-size: 14px;
    font-weight: bold;
  }
}

.list {
  margin-bottom: 1%;

  &:first-child {
    margin-top: 1%;
  }

  &.item {
    padding: 0 1%;
  }
}

.menu-unal .item-content {
  background-color: #333;
  color: white;
}

.bar {
  &.bar-stable {
    background-color: #666666;

    .title {
      color: white;
    }
    .button {
      &.button-clear {
        color: white;
      }
    }
  }
}

.asignaturas {
  .card .row .col:first-child {
    font-weight: bold;
  }

  .card {
    li {
      padding: 5px 15px;
    }
  }
}

.back {
  background-color: $bar-balanced-active-bg;
}

select, label {
  &.disabled {
    background: #D3D3D3;
  }
}

@import "widgets/flipper";
@import "widgets/tooltip";
@import "widgets/loaders";
@import "widgets/form";
@import "widgets/header";
@import "widgets/messages";
@import "widgets/overlay";
@import "components/afinidades-detalle";
