<ion-modal-view ng-controller="LoginController">
  <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">Ingresar</h1>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <div class="list">
      <img src="img/logo.jpg" alt="header" class="formImage"/>
      <form class="loginForm" name="loginForm" novalidate>
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input name="username" ng-model="user.username" class="username" type="text" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input ng-model="user.password" type="password" required>
        </label>
        <button class="button button-full button-balanced" ng-click="login()" ng-disabled="!loginForm.$valid">
          Continuar <ion-spinner icon="ripple" class="login" ng-if="loader"></ion-spinner>
        </button>
      </form>
    </div>
    <div class="item warning message" ng-if="message">
      {{message}}
    </div>
  </ion-content>
</ion-modal-view>
