<ion-modal-view ng-controller="LoginController">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Identificate</h1>
    <ion-spinner icon="ripple" class="login" ng-if="loader"></ion-spinner>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <form class="loginForm" name="loginForm" novalidate>
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input ng-model="user.username" type="text" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input ng-model="user.password" type="password" required>
        </label>
        <button class="button button-full button-positive" ng-click="login()" ng-disabled="!loginForm.$valid">Continuar</button>
      </form>
    </div>
    <div class="list">
      <div class="item" ng-if="message">
        {{message}}
      </div>
    </div>
  </ion-content>
</ion-modal-view>
