<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Rutas App</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="menu-unal">
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/rutas">
          Rutas
        </ion-item>
        <ion-item menu-close href="#/app/dtitulacion">
          Doble titulación
        </ion-item>
        <ion-item menu-close href="#/app/tutorial">
          Video tutorial
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <!-- TABS
  <ion-tabs>
    <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/app/search">
      <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Browse" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses" href="#/app/browse">
      <ion-nav-view name="tab-browse"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Playlist" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/playlists">
      <ion-nav-view name="tab-playlists"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  -->
</ion-side-menus>
