<ion-view view-title="Equivalencias">
  <ion-content>
    <div class="row has-header">
      <div class="col">
        <div class="tooltip-parent info message">
          Seleccione los datos para comenzar
          <tooltip tooltip="Descripción de la doble titulación" tooltip-position="left-badged" class="tooltip-circle ion-information"></tooltip>
        </div>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Programa
            </div>
            <select name="programa" id="programa" ng-model="programa.repeatSelect">
              <option ng-repeat="option in programa.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
          <label
            class="item item-input item-select"
            ng-class="{disabled:!disable.opciones}">
            <div class="input-label">
              Opción de doble titulación <ion-spinner icon="ripple" ng-if="loader.opciones"></ion-spinner>
            </div>
            <select
              name="opciones"
              id="opciones"
              ng-model="opciones.repeatSelect"
              ng-class="{disabled:!disable.opciones}"
              ng-disabled="!disable.opciones">
              <option ng-repeat="option in opciones.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
        </div>
        <button
          class="button button-full button-balanced"
          ui-sref="app.equivalencias_detalles({origen_id: programa.repeatSelect, destino_id: opciones.repeatSelect})"
          ng-if="disable.button">
          Ver equivalencias
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
