<ion-view view-title="{{origen[1]}}" class="equivalencias-detalle">
  <ion-content class="afinidades-detalle">
    <div class="loading" ng-if="loading">
      <div class="dialog">
        <ion-spinner icon="spiral"></ion-spinner>
        <span>Cargando ...</span>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Equivalencias
      </div>
      <div class="item item-text-wrap">
        <div class="row header">
          <div class="col">{{origen[2]}}</div>
          <div class="col">{{destino[2]}}</div>
        </div>
        <div class="row" ng-repeat="item in equivalencias">
          <div class="col"><strong>{{item.codigoAsignaturaOrigen}}</strong>, {{item.asignaturaOrigen}}</div>
          <div class="col"><strong>{{item.codigoAsignaturaDestino}}</strong>, {{item.asignaturaDestino}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
