<ion-view class="asignaturas" view-title="{{perfilName}}">
  <ion-content>
    <div class="loading" ng-if="loading">
      <div class="dialog">
        <ion-spinner icon="spiral"></ion-spinner>
        <span>Cargando ...</span>
      </div>
    </div>
    <div class="list flipper" ng-repeat="item in asignaturas">
        <div class="card front-card">
          <div class="item item-divider item-text-wrap">
            {{item.asignatura.asignatura}}
          </div>

          <div class="list item-text-wrap">
            <div class="row">
              <div class="col">Codigo</div>
              <div class="col col-70">{{item.asignatura.asignatura_id}}</div>
            </div>
            <div class="row">
              <div class="col">Agrupación</div>
              <div class="col col-70">{{item.asignatura.agrupacion}}</div>
            </div>
            <div class="row">
              <div class="col">Créditos</div>
              <div class="col col-70">{{item.asignatura.creditos}}</div>
            </div>
            <div class="row">
              <div class="col">Tipologia</div>
              <div class="col col-70">{{item.asignatura.tipologia}}</div>
            </div>
    			</div>

          <div class="item item-divider footer"  ng-click="flipper($event);">
            <span class="ion ion-forward"></span> Ver requisitos
          </div>

        </div>

        <div class="card back-card">
          <div class="item item-divider item-text-wrap back">
            {{item.asignatura.asignatura}}
          </div>

          <div class="list item-text-wrap Requisitos">
            <div class="row">
              <strong>Requisitos</strong>
            </div>
            <div class="row">
              <ol ng-repeat="item in item.asignatura.requisitos">
    					  <li><span class="ion ion-arrow-right-b"></span> {{item.requisito}}</li>
    					</ol>
            </div>
    			</div>

          <div class="item item-divider footer"  ng-click="flipper($event);">
            <span class="ion ion-arrow-return-left"></span> Volver
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
