<ion-view view-title="Asignaturas">
  <ion-content>
    <ion-item collection-repeat="item in asignaturas">
      <h2>{{item.asignatura.asignatura}}</h2>
      <p>
				<span>Codigo: </span>{{item.asignatura.asignatura_id}} <br>
        <span>Agrupación: </span>{{item.asignatura.agrupacion}}<br>
				<span>Créditos: </span>{{item.asignatura.creditos}}<br>
        <span>Tipologia: </span> {{item.asignatura.tipologia}}
			</p>
      <div class="Requisitos">
					<h3>Requisitos</h3>
					<ol ng-repeat="item in item.asignatura.requisitos">
					  <li>{{item.requisito}}</li>
					</ol>
			</div>
    </ion-item>
  </ion-content>
</ion-view>
