<ion-view view-title="Rutas Curriculares">
  <ion-content>
      <div class="loading" ng-if="loading">
        <div class="dialog">
          <ion-spinner icon="spiral"></ion-spinner>
          <span>Cargando ...</span>
        </div>
      </div>
      <div class="list card" ng-repeat="item in perfiles">
        <div class="item item-divider">
          {{item.perfil}}
        </div>

        <div class="item item-text-wrap">
          <p><strong>Creditos:</strong> {{item.total_creditos}}</p>
          <p><strong>Descripción:</strong> {{item.descripcion}}</p>
        </div>

        <div class="item item-divider footer" ui-sref="app.asignaturas({perfil_id: item.id, perfil_name:item.perfil})">
          <span class="ion ion-chevron-right"></span> Ver asignaturas
        </div>
      </div>
  </ion-content>
</ion-view>
