<ion-view view-title="Sistema de rutas">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="tooltip-parent info message">
          Seleccione el programa para comenzar
          <tooltip tooltip="Las rutas son los trayectos que el estudiante encuentra dentro del plan de estudios que visibilizan las oportunidades académicas que le permitirán la consecución de sus  intereses y necesidades de formación. Las rutas contienen la  información de asignaturas optativas y de libre elección, que están articuladas a los  objetivos del programa, campos de acción profesional y  perfiles del egresado, facilitando  que el estudiante oriente la elección de asignaturas con miras al ejercicio futuro de su profesión" tooltip-position="left-badged" class="tooltip-circle ion-information"></tooltip>
        </div>

        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Sede
            </div>
            <select name="sede" id="sede" ng-model="sede.repeatSelect">
              <option ng-repeat="option in sede.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
          <label class="item item-input item-select" ng-class="{disabled:!sede.repeatSelect}">
            <div class="input-label">
              Facultad
            </div>
            <select name="facultad" id="facultad" ng-model="facultad.repeatSelect" ng-class="{disabled:!sede.repeatSelect}" ng-disabled="!sede.repeatSelect">
              <option ng-repeat="option in facultad.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
          <label
            class="item item-input item-select" 
            ng-class="{disabled:!sede.repeatSelect && !facultad.repeatSelect}">
            <div class="input-label">
              Programa
            </div>
            <select
              name="programa"
              id="programa"
              ng-model="programa.repeatSelect"
              ng-class="{disabled:!sede.repeatSelect && !facultad.repeatSelect}"
              ng-disabled="!sede.repeatSelect && !facultad.repeatSelect">
              <option ng-repeat="option in programa.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
        </div>
        <button class="button button-full button-balanced" ui-sref="app.perfiles({programa_id: programa.repeatSelect})" ng-if="showButton">
          Ver rutas <span class="icon ion-ios-eye"></span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
