.afinidades {
  .tooltip-circle {
    bottom: 65%;
  }

  .tooltip-arrow {
    top: 13%;
  }
}

.afinidades-detalle {
  .item-accordion {
    transition: 0.1s all linear;
  }
  .item-accordion.ng-hide {
    line-height: 0px;
  }
  .item-accordion.ng-hide-add,
  .item-accordion.ng-hide-remove {
    display: block !important;
  }

  .offset span {
    display: block;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);

    &.rotate-icon {
      display: block;
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      transform: rotateX(0deg);    
    }
  }
}
