.equivalencias {
  .equivalencias-icon {
    text-align: center;
    padding-top: 25px;

    img {
      max-width: 270px;
      width: 80%;
    }
  }
}

.equivalencias-detalle {
  
  .row {
    border-bottom: solid 1px $balanced;
    margin: 0;
    padding: 0;
  }

  .header .col {
    background: $balanced;
    color: white;
    font-weight: bold;
    text-align: left;
  }

  .col {
    text-align: left;
  }

  .col:first-child {
    border-left: solid 2px $balanced;
  }

  .col:last-child {
    border-right: solid 2px $balanced;
    //border-left: solid 1px $balanced;
  }

  .row:last-child {
    border-bottom: solid 2px $balanced;
  }

  .row:nth-child(2n+3) {
    background: rgba(80,153,46,0.3);
  }

}
