.loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;

  position: fixed;
  top: 10%;
  left: 50%;
  /* bring your own prefixes */
  margin-top: -20px;
  margin-left: -20px;
  z-index: 1000;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.spinner {
  svg {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 100;
  }

  &.login {
    svg {
      fill: white;
      height: auto;
      left: 64%;
      stroke: white;
      top: 0;
      width: 15%;
    }
  }
}
