.tutoriales {
  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }

  .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .list {
    margin-bottom: 2%;
  }

  .videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
  }

  videogular vg-poster, [videogular] vg-poster {
    z-index: 100;
  }

  videogular vg-overlay-play, [videogular] vg-overlay-play { 
    z-index: 200;
  }
  
  videogular vg-controls, [videogular] vg-controls {
    z-index: 300;
  }
}
