<ion-view view-title="Tutoriales" class="tutoriales">
  <ion-content>
    <div class="row has-header">
      <div class="col">
        <div class="videogular-container">
          <videogular vg-player-ready="onPlayerReady($API)" vg-complete="onCompleteVideo()" vg-theme="config.theme.url">
            <vg-media vg-src="config.sources" vg-tracks="config.tracks">
            </vg-media>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-poster vg-url='config.plugins.poster'></vg-poster>
          </videogular>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Categoría
            </div>
            <select name="categoria" id="categoria" ng-model="categoria.repeatSelect">
              <option ng-repeat="option in categoria.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
          <label
            class="item item-input item-select"
            ng-class="{disabled:!disable.video}">
            <div class="input-label">
              Video <ion-spinner icon="ripple" ng-if="loader.video"></ion-spinner>
            </div>
            <select
              name="video"
              ng-model="video.repeatSelect"
              id="video"
              ng-class="{disabled:!disable.video}"
              ng-disabled="!disable.video">
              <option ng-repeat="option in video.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>