<ion-view view-title="Afinidades">
  <ion-content class="afinidades-detalle">
    <div class="list card">
      <div class="item item-divider">
        Bogotá | Contaduría Pública
      </div>

      <div class="item item-text-wrap">
        <p><strong>CREDITOS</strong></p>
        <p><strong>Exigidos Destino:</strong> 167</p>
        <p><strong>Comunes:</strong> 271</p>
        <p><strong>Excedentes:</strong> 104</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Bogotá | Contaduría Pública
      </div>

      <div class="item item-text-wrap">
        <p><strong>CREDITOS</strong></p>
        <p><strong>Exigidos Destino:</strong> 167</p>
        <p><strong>Comunes:</strong> 271</p>
        <p><strong>Excedentes:</strong> 104</p>
      </div>
    </div>
  </ion-content>
</ion-view>
