<ion-view view-title="{{afinidades[0].programaOrigen}}">
  <ion-content class="afinidades-detalle">
    <div class="loading" ng-if="loading">
      <div class="dialog">
        <ion-spinner icon="spiral"></ion-spinner>
        <span>Cargando ...</span>
      </div>
    </div>
    <div ng-repeat="item in afinidades">
      <ion-item class="item-balanced" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
        <i class="icon" ng-class="isGroupShown(item) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        {{item.programaDestino}}
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(item)">
        <p><strong>CREDITOS</strong></p>
        <p><strong>Exigidos Destino:</strong> {{item.creditosExigidosDestino}}</p>
        <p><strong>Comunes:</strong> {{item.comunOrigenDestino}}</p>
        <p><strong>Excedentes:</strong> {{item.errorOrigenDestino}}</p>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
