@mixin show-content() {
  opacity: 1;
  visibility: visible;
  position: relative;
}

@mixin hide-content() {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.flipper {
  overflow: hidden;
}

.flipper {
  perspective: 600px;
  -webkit-perspective: 600px;
	-moz-perspective: 600px;

  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  transform-origin: 100% center;
}

.front-card, .back-card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
	backface-visibility: hidden;

  -o-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, heigth 0, visibility 0, opacity 0.3 linear;
}

.front-card {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  @include show-content();
}

.flipper.flip .front-card {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
  @include hide-content();
}

.back-card {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
  @include hide-content();
}

.flipper.flip .back-card {
  -webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
   transform: rotateY(0deg);
   @include show-content();
}
