.info {
  position: relative;
  text-align: left;

  .heading {
    text-align: right;
    font-size: 1em;
  }
}

.message {
  &.info {
    box-shadow: 0 0 0 1px #A9D5DE inset,0 0 0 0 transparent;
    background-color: $blue-light;
    color: $blue-dark;
    font-size: 1em;
    max-width: 700px;
    border-radius: 5px;
    padding: 2% 50px 2% 3%;
    margin: 15px 0 25px;
  }

  &.warning {
    box-shadow: 0 0 0 1px red inset,0 0 0 0 transparent;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 5px;
  }
}
